body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  #productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .productCard {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .productImage {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
  
  .starContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .fa-star {
    color: grey;
  }
  
  .active {
    color: orange;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  